*{
    text-align: center;
    font-family: Roboto;
}
hr{
    color: crimson;
    margin: 2% 3%;
}
.index_a{
    text-decoration: none;
    color: yellow;
}
body{
    background-color: #1B1B1B;
}
header{
    margin: 0% 1% 0% 0%;
    padding-right: 0%;
}
main{
    height: 475px;
    width: auto;
    margin: 1% 10%;
    align-items: center;
}
footer{
    margin: 1%;
}
.underline{
    text-decoration: underline;
}
.index_div{
    height: auto;
    width: 20em;
    border: 2px solid black;
    display: inline-block;
    background-color: rgba(220, 20, 60, 0.650);
    margin: 10px;
    padding: 2%;
}
.index_div_conc{
    height: auto;
    width: auto;
    border: 2px solid black;
    display: inline-block;
    background-color: rgba(220, 20, 60, 0.650);
    margin: 10px;
    padding: 1%;
}
.index_main{
    margin-top: 2em;
}
.index_bar{
    height: 2.8em;
    text-align: center;
    text-transform:uppercase;
    padding: 0% 0%;
    display: inline;
}
.index_nav{
    padding: 1% 1%;
    text-decoration: none;
    color: white;
}
.ven_div{
    height: auto;
    width: auto;
    display: inline-block;
    margin: 10px;
    padding: 2%;
}
.div_loop_ven{
    margin: 10% 0%;
}
.table_ven{
    margin: 0%;
    font-size: 1.5em;
    color: white;
    text-align: center;
    border-collapse: collapse;
}
td, th{
    width: 20em;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    padding: 2% 0%;
    margin: 0%;
}
tr:hover{
    background-color: rgba(220, 20, 60, 0.500);
}
.index_nav:hover{
    background-color: rgba(220, 20, 60, 0.500);
}