<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>KGNS</title>
</head>
<body>
    <header>
        <header>
            <div>
                <p>
                    <a href="#" class="nav">Vendors</a> <a href="#" class="nav">Inventory</a> <a href="#" class="nav">Bill</a> <a href="#" class="nav">History</a>
                </p>
            </div>
        </header>
    </header>
    <main>
        <div class="index_div">
            <h1>View Vendor List</h1>
        </div>
        <div class="index_div">
            <h1>View Inventory</h1>
        </div>
        <div class="index_div">
            <h1>Generate Bill</h1>
        </div>
        <div class="index_div">
            <h1>View History</h1>
        </div>
        <div class="index_div">
            <h1>Contact Team</h1>
        </div>
    </main>
</body>
</html>