<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://192.168.0.192:5000/static/style.css">
    <title>KGNS</title>
</head>
<body>
    <header>
        <div class="bar-m">
            <p class="index_p">
                <a href="/" class="nav"><b class="underline">home</b></a>
                <a href="#" class="nav">vendors</a>
                <a href="#" class="nav">inventory</a>
                <a href="#" class="nav">bill</a>
                <a href="#" class="nav">history</a>
            </p>
        </div>
    </header>
    <hr>
    <main>
        <div>
            <div class="index_div">
                <h1><a href="#">View Vendor List</a></h1>
            </div>
            <div class="index_div">
                <h1><a href="#">View Inventory</a></h1>
            </div>
        </div>
        <div>
            <div class="index_div">
                <h1><a href="#">Generate Bill</a></h1>
            </div>
            <div class="index_div">
                <h1><a href="#">View History</a></h1>
            </div>
        </div>
        <div class="index_div_conc">
            <h2><a href="#">Contact Team</a></h2>
        </div>
    </main>
    <hr>
    <footer>
        <div>
            <p>Made by Me</p>
        </div>
    </footer>
</body>
</html>